* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #fff;
   font-size: 15px;
   line-height: 1.5;
}

a {
  color: #222;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

 
/* ====== Nav ====== */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

 
/* ====== Do this last! ====== */
 
/* ====== Hamburger menu ====== */

.hamburger-menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 2;
  display: none;
}
 
 

.main-nav ul {
  display: flex;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}
 
.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #222;
}

.main-nav .logo {
  /* width: 110px; */
}
 
.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #222;
  color: #fff;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.9;
}


/* ====== Showcase Hero 1 ====== */

.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 350px;
  

  /* display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  */

}

.showcase.hero__one {
  background: url("../images/hero1.png") no-repeat center center/cover;
  height: 350px;
}

.hero-content {
  width: 40%;
  padding: 50px 0 0 30px;
}

.hero-content p {
  margin: 10px 0 20px;
}
 
/* ====== Hero 2 ====== */

.hero__two {
  background: url("../images/hero2.png") no-repeat center center/cover;
 /*  add after the  */
  margin-bottom: 20px;
}
 
 
/* ====== Quick-links ====== */
 
.quick-links {
  /* display: grid;
  justify-content: center;
  grid-template-columns: repeat(6,1fr);
  align-items: center; */

  /* display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  font-weight: bold; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  font-size: 13px;
  font-weight: bold;
}

 
 
/* ====== Content Cards-1 ====== */

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.cards img {
  width: 100%;
}

.cards h3 {
  margin-bottom: 5px;
}

.cards a {
  display: inline-block;
  padding-top: 10px;
  color: #005da6;
  font-weight: bold;
}

.cards a:hover .svg-inline--fa{
  margin-left: 10px;
}

.cards > span {
  display: inline-block;
}

 
 
/* ====== CTA ====== */

.cta {
  background-color: #f2f2f2;
  width: 100%;
  height: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
.cta a {
  padding-top: 7px;
  font-weight: bold;
}

 
/* ====== Social-media ====== */
.social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 30px;
}

.social-media img {
  margin-left: 10px;
}

 
/* ====== Footer Links ====== */

.footer-links {
  background-color: #f2f2f2;
  padding: 35px 0;
}

.footer-links ul li a {
  font-size: 11px;
  color: #707070;
}

.footer-links__inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

 
/* ====== Cloner-Author ====== */
.cloner-author {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

.cloner-author p {
  font-weight: normal;
  font-size: 12px;
}
 

/* ====== Responsive ====== */

@media(max-width: 859px){
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-links__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 768px){
  header.showcase.hero__one { 
     /* background: url("../images/hero1.png") no-repeat;
     object-fit: cover;
     top: 80px; 
     left: 0;   */
     /* position: absolute; */
     width: 100%;
     /* height: 100%; */
     /* margin-left: 0; */
     /* display: none; */

  }
  .hero-content p {
    /* display: none; */
    width: 50%;
  }
  .hero-content {
   width: 85%;
   padding: 50px 0 0 30px;
  }

  .footer-links__inner {
    grid-template-columns: repeat(2, 1fr);
  }
 
  .hamburger-menu-btn {
    display: block;
  }
  .hamburger-menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav ul.right-menu {
    margin-right: 50px;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background: #f2f2f2;
    width: 100%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 1;
    transform: translateX(-1000px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

  .main-nav .ul.main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .main-nav ul.menu li:last-child {
    border-bottom: 0;
  }

  .main-nav .logo {
    display: block;
    position: absolute;
    left: calc(50% - 60px);
  }


} /*  end */

@media(max-width: 550px){
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}